# ignore bytecode files
*.pyc

# ignore config files
config.yml
config.txt

# ignore Pycharm IDE files
**/.idea/

# ignore JSON files
*.json

# ignore resource directory
resource/

# ignore tracking data directory
tracking_data/
